/* Global
------------------------------------------ */
html,body{
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  background-color: #fff;
  overflow-x:auto;
  &.nav-open {
    overflow: hidden;
  }
}

.wrapper {
  max-width:1200px;
  margin:0 auto;

}

hr {
    height: 6px;
    width: 40px;
    background: $blue;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
  }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.hide-for-small{
  @media #{$break-sm} {
    display:none !important;
  }
}

.hide-for-nav{
  @media #{$break-nav} {
    display:none !important;
  }
}

.hide-for-nav-xsmall{
  @media #{$break-sm} {
    display:none !important;
  }
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
}

.spreader{
  width:100%;
  height:5vw;
  max-height:300px;
  display:block;
}

.header-notification {
  background:$yellow;
  position:absolute;
  top:60px;
  right:8vw;
  width:auto;
  height:auto;
  padding:10px 20px;
  z-index:100;
  border:4px solid $black;
  text-transform: uppercase;
  a{
    color:$black;
    border-bottom:2px solid $black;
    &:hover {
      border-bottom:2px solid $dark-yellow;
    }
  }
}
