

section {
  position:relative;
  width:100%;
  .container {
    max-width:1200px;
    margin: 0 auto;
    width: 100%;
    padding: 5vw;
    z-index:10;
    position:relative;
    &.large {
      max-width: 1500px;
    }
  }
}

.mission {
  background: #fff;
  padding: 10vw;
  text-align: center;
  position: relative;
  .pitch {
    padding: 5vw 15vw;
    @media #{$break-sm} {
      padding: 5vw 5vw;
    }
  }
  .bg-triangle {
    width: 100vw;
    height: 130vh;
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    background: $black;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  .maincta {
    text-align: center;
    width: 40vw;
    padding: 5vw;
    color: #fff;
    position: relative;
    z-index: 5;
    margin: 0 auto;
    p {
      margin-bottom: 30px;
    }
    @media #{$break-sm} {
       width: initial;
    }
    img {
      width: 30%;
      height: auto;
      margin-bottom: 20px;
    }
  }
}

.card-wrap {
  .card {
    padding: 3vw;
    text-align: center;
    box-shadow: 0 0 33px 0 rgba(0,0,0,0.16);
    transition: all .2s ease-in-out;
    position: relative;
    z-index: 500;
    cursor: pointer;
    margin-bottom: 20px;
    min-height: 300px;
    h3 {
      font-size: 20px;
      margin-bottom:20px;
    }
    p {
      font-size: 12px;
      line-height: 20px;
    }
    .card-flag {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
    }
    .card-thumb {
      width: 80%;
      height: auto;
      padding: 10%;
    }
    &.white {
      background: #fff;
    }
    &:hover {
      transform:scale(1.05);
      box-shadow: 0 0 87px 0 rgba(0,0,0,0.22);
    }
  }
}

.blogs {
  background: #fff;
  .blogpost-wrap {
    z-index: 150;
    position: relative;
    .blogpost {
      margin: 3vw;
      background: #fff;
      box-shadow: 0 0 33px 0 rgba(0,0,0,0.16);
      position: relative;
      z-index: 200;
      @media #{$break-sm-xs} {
        margin:0vw;
        margin-bottom:10vw;
      }
      .blogcontent {
        padding: 3vw;
      }
      &.one {
        .thumb {
          background:url(../img/callouts/dashboard.jpg) no-repeat;
          background-size: cover;
        }
      }
      &.two {
        .thumb {
          background:url(../img/callouts/group.jpg) no-repeat;
          background-size: cover;
        }
      }
      &.three {
        .thumb {
          background:url(../img/callouts/lakeland.jpg) no-repeat;
          background-size: cover;
        }
      }
      &.four {
        .thumb {
          background:url(../img/callouts/shipwrecks.jpg) no-repeat;
          background-size: cover;
        }
      }
      h3 {
        font-weight:500;
        line-height: 30px;
        font-size: 20px;
      }
      .brief {
        padding-left:0;
        p {
          font-size: 12px;
          letter-spacing: 1.3px;
          line-height: 24px;
          margin-bottom: 20px;
        }
      }
      .button {
        padding: 0px 10px;
        .text {
          padding: 8px 8px 8px 0px;
          display: block;
          float: left;
        }
        .fa {
          padding: 9px;
        }
        .mediumlogo {
          width: 20px;
          height: 30px;
          float: right;
          border-left:1px solid;
        }
      }
    }
    .thumb {
      width: 200px;
      height: 200px;
      position: absolute;
      bottom: -30px;
      right: -50px;
      @media #{$break-md} {
        position: relative;
        width: 100%;
        height: 250px;
        bottom: initial;
        right:initial;
      }
    }
  }
}

.contact-modal {
  background: $black;
  color: #fff;
  padding: 5vw;
  text-align: center;
  h2 {
    text-transform: uppercase;
  }
  img {
    margin: 0 auto;
    width: 150px;
    display: block;
    margin-bottom: 20px;
  }
  .close {
    color: #fff;
    opacity: 0.9;
  }
}
