$break-xs: "only screen and (max-device-width: 400px), only screen and (max-width: 400px)";
$break-sm-xs: "only screen and (max-device-width: 600px), only screen and (max-width: 600px)";
$break-sm: "only screen and (max-width: 768px)";
$break-sm-md: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$break-md: "only screen and (max-width: 1024px)";
$break-md-lg: "only screen and (max-width: 1324px)";
$break-gridder: "only screen and (max-width: 1060px)";
$break-lg: "only screen and (min-width: 1025px)";
$break-hero: "only screen and (max-height: 991px)";
$break-xl: "only screen and (min-device-width: 1420px), only screen and (min-width: 1420px)";
$break-nav: "only screen and (max-device-width: 1000px), only screen and (max-width: 1000px)";
$break-short: "only screen and (max-device-height: 700px), only screen and (max-height: 700px)";
