/* Navigation
------------------------------------------ */
#mainwrapper{
  z-index:10;
  width: 100%;
  transition: all .3s ease-in-out;
  overflow-x:hidden;
  min-height:100vh;
  position:relative;
}

.drawerleft-open #mainwrapper {
  transform:translateX(800px);
}

.drawertop-open #mainwrapper {
  transform:translateY(800px);
}

.drawerright-open #mainwrapper {
  transform:translateX(-300px);
}

.drawer {
  z-index:0;
  position: fixed;
  height:100%;
  display: block;
  transition: all .3s ease-in-out;
  width:100%;
  transform:translateY(-400px);
  background: $dark_gray;
  ::-webkit-scrollbar {
    display: none;
    background: transparent;  /* optional: just make scrollbar invisible */
  }
}

.drawerright-open {
  .drawer-right {
    transform:translateX(0px);
    opacity: 1;
    z-index: 1000;
  }

}
.drawerleft-open {
  .drawer-left {
    transform:translateX(0px);
    opacity: 1;
    z-index: 1000;
  }
}

.nav-fixed, .singleapp {
  .drawer {
    &.drawer-left, &.drawer-right {
      transform:translateY(-400px);
      width: 100%;
      left:0;
      top: 0;
      height: auto;
      opacity: 0;
      background: $blue-black;
      .drawer-contents {
        position: relative !important;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        min-height: 100vh;
        padding: 5vw;
        padding-top: 8vw;
        padding-bottom:6vw;
        @media #{$break-md} {
          padding-top:10vw;
        }
        .draweritem {
          height: 15vw;
          width: 14vw;
          vertical-align: bottom;
          border-radius:20px;
          margin:1.7vw;
          color:#fff;
          transition: all .1s ease-in-out;
          max-height:500px;
          min-height:220px;
          @media #{$break-md} {
            width:26vw;
            max-width:initial;
            max-width:350px;
          }
          @media #{$break-sm} {
            width:100vw;
            height:50px;
            min-height:initial;
            vertical-align: baseline;
            display:flex;
            flex-direction: row;
            align-items: center;
            margin-bottom:0vw !important;
            span {
              text-align: left !important;
              margin-top:0px !important;
            }
            .draweritem-thumbnail {
              width:70px !important;
              height:70px !important;
              margin-right:20px;

            }
          }
          @media #{$break-sm-xs} {
            max-width:initial;
            margin:3vw;
            margin-bottom:10vw;
          }
          &:hover {
            transform: scale(1.05);
          }
          .draweritem-thumbnail {
            height:90%;
            width:100%;
            border-radius:15px;
          }
          span {
            color:#fff;
            display:block;
            text-align:center;
            text-transform: uppercase;
            font-family: brandon-grotesque, futura-pt, sans-serif;
            margin-top:20px;
            letter-spacing:3px;
            line-height:24px;
          }
          &.drawer-intro {
            h2 {
              margin-bottom:14px;
            }
            position:relative;
            font-size:14px;
            @media #{$break-sm-xs} {
              width:100vw;
              margin-top:10vw;
              margin-bottom:3vw;
              height:auto;
              min-height:initial;
            }
            &:hover{
              transform: scale(1);
            }
            h2 {
              margin-left:0px;
              margin-top:0px;
              font-size:34px;
              text-transform:uppercase;
              letter-spacing: 3px;
            }
            p{
              line-height:28px;
            }
            .intro-bg {
              width:120px;
              height:120px;
              position:absolute;
              top:-30px;
              left:-20px;
              opacity:.5;
            }
          }
        }
      }
    }
  }
  &.drawerleft-open #mainwrapper {
    transform:translateY(400px);
  }
  &.drawerright-open #mainwrapper {
    transform:translateY(400px);
  }
  &.drawerright-open {
    .drawer-right {
      transform:translateX(0px);
      opacity: 1;
    }
  }

  &.drawerleft-open {
    .drawer-left {
      transform:translateX(0px);
      opacity: 1;
    }
  }
}

#navbar {
  color: white;
  width: 100%;
  z-index: 10000;
  position: absolute;
  padding: 20px;
  .main-links {
    display: inline-block;
    height: 100%;
    @media #{$break-md} {
      display: none;
    }
    li {
      display: inline;
      line-height: 5em;
    }
  }
  a {
    color: #fff;
    margin-right: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

.drawer-toggle {
  display: none;
}

@media #{$break-lg} {
  .drawer-toggle {
    cursor: pointer;
    padding: 30px;
    transition: all .3s ease-in-out;
    display: block;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
    }
  }
}

.small-nav{
  background: #fff;
  display:flex;
  position:sticky;
  justify-content: space-between;
  top:0;
  left:0;
  width: 100%;
  z-index: 2000;
  opacity: 0;
  z-index: 10000;
  transition: transform .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.10);
  transform:translateY(-60px);
  // border:1px solid $black;
  .right {
    li {
      &:first-child{
        border-right:none;
      }
    }

  }
    &.nav-fixed {
    opacity: 1;
    z-index: 2000;
    transform:translateY(0px);
  }
  @media #{$break-md} {
    transform:translateY(0px);
    opacity: 1;
    z-index: 1000;
  }
  .logo {
    width: 240px;
    margin-left: -26px;
    padding-right:20px;
    border-right:4px solid $black;
    @media #{$break-sm} {
      width:180px;
    }
    a {
      padding:0px;
      line-height: 0px;

      &:hover {
        background:initial;
      }
    }
    img {
      width: 100%;
      height: auto;
      margin-top:-4px;
    }
  }
  ul{
    width:auto;
    margin-bottom: 0px;
    li {
      display: inline-block;
      @media #{$break-sm} {
        padding: 0px;
      }
      @media #{$break-xs} {
        padding:10px 8px;
      }
      a {
        text-transform: uppercase;
        color: $black;
        padding:10px 15px;
        display:inline-block;
        cursor: pointer;
        font-family: brandon-grotesque;
        font-size:14px;
        @media #{$break-md} {
          font-size:12px;
          letter-spacing:1px;
        }
        @media #{$break-sm} {
          padding:10px 5px;
          letter-spacing: 0px;
        }
        &:hover {
          color: $dark-yellow;
          text-decoration: none;
          // background:$black;
        }
      }
    }
  }
  .workwithus {
    margin: 12px 55px 0px 15px;
    @media #{$break-md} {
      margin-top: 1px;
    }
  }
}


/* Drawer navigation
----------------------------------------*/

.main-cta-wrap {
  .drawer-button p {
  font-size: 16px;
  letter-spacing: 6px;
  font-family: 'Roboto', sans-serif;
}
.drawerleft-toggle {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  .drawer-button {
    @include vertical-align;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    transform: rotate(-90deg);
    display: block;
    margin-top: -20px;
    img {
      transform: rotate(180deg);
      width: 20px;
      height: 20px;
      margin-left: 20px;
      margin-top: 10px;
    }
  }
}
.drawertop-toggle {
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  text-align: center;
  .drawer-button {
    margin: 0 auto;
    color: #fff;
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    display: inline-block;
    img {
      transform: rotate(180deg);
      width: 20px;
      height: 20px;
      margin-left: 36px;
      display: block;
    }
  }
}
.drawerright-toggle {
  position: absolute;
  top:0;
  right:0;
  height: 100%;
  .drawer-button {
    @include vertical-align;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    transform: rotate(90deg);
    display: block;
    margin-top: -20px;
    img {
      transform: rotate(180deg);
      width: 20px;
      height: 20px;
      margin-left: 28px;
    }
  }
}


}

.work-with-fd {
  float: right;
  margin-right: 0px;
  margin-top: 17px;
  @media #{$break-md} {
    margin-right: 90px !important;
  }
}

.menu {
  z-index: 500;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: $dark-yellow;
  color: white;
  padding: 20px;
  width: 100%;
  transition-property: top;
  transition-duration: 0.25s;
  a {
    text-align: center;
    padding: 30px 0px;
    color: #fff;
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
    &:hover {
      color: #fff;
    }
  }
}

.menu-open {
  #menu { right: 0; }
}

.menu-x {
  text-align: left !important;
  img { width: 25px; }
}

/* mobile navigation
----------------------------------------*/
.mobile-nav-toggle-wrap {
  width: 40px;
  height: 40px;
  z-index: 2;
  position: fixed;
  right: 12px;
  top: 3px;
  cursor: pointer;
  z-index: 1001;
  @media #{$break-sm} {
    display: block;
    top: -3px;
  }
}

.mobile-nav-container {
  position: absolute;
  transform: translateY(-100vh);
  z-index:-1000;
  opacity:0;
  background: $black;
  left: 0;
  top: 0;
  width: 100vw;
  height: 0vh;
  transition: all .3s ease-in-out;
  /*-webkit-transition-duration: 0.66s;
  transition-duration: 0.66s;
  -webkit-transition-timing-function: swing;
  transition-timing-function: swing;*/
  display:flex;
  align-items:center;
  .content {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    display:block;
    width: 90vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    .nav-content{
      width: 65vw;
      height:auto;
      margin:0 auto;
      @media #{$break-md-lg} {
        width:90vw;
      }
      .fd-info{
        text-align:left;
        margin-top:4vw;
        .social-links{
          text-align:center;
          margin-top:3vw;
          a img{
            width:auto;
            height:20px;
            margin:20px;
          }
        }
        img{
          width:200px;
          margin-bottom:20px;
        }
        p{
          color:#fff;
        }
      }
      .nav-links {
        display:flex;
        @media #{$break-sm} {
          flex-wrap:wrap;
        }
        .link-col{
          text-align:left;
          width:21%;
          @media #{$break-sm} {
            width:50%;
          }
          &.main {
            width:28%;
            border-right:2px solid $black ;
            margin-right:5vw;
            @media #{$break-sm} {
              border-right:0;
              width:50%;
              margin-right:0;
            }
          }
          h3{
            color:#fff;
            text-transform:uppercase;
            font-weight:600;
            letter-spacing:4px;
          }
          a{
            display:block;
            margin-bottom:10px;
            font-size:14px;
            text-transform:uppercase;
            &.activepage {
              color:$blue;
            }
          }
        }
      }
    }

    hr {
      height: 3px;
      border: 0;
      background-color: $dark_blue;
    }
    ul {
      padding-left: 0;
    }
    li {
      list-style: none;
      padding: 10px;
      display: block;
      float: none;
      border-right: none;
      a {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .4em;
        font-weight: 700;
        margin-right:0;
      }
    }
  }
}
.icon {
  width: 20px;
  height: 4px;
  background-color: $black;
  position: absolute;
  top: 23px;
  left: 15px;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transiting-timing-function: swing;

}

.nav-open  {
  .content {
    opacity: 1 !important;
  }
  .mobile-nav-toggle-wrap {
    box-shadow: none;
  }
  .mobile-nav-toggle-wrap .icon {
    width: 0;
  }
  .mobile-nav-toggle-wrap .icon:before {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .mobile-nav-toggle-wrap .icon:after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
    width: 20px;
    left: 0px;
    top: 10px;
  }
}

.nav-open .mobile-nav-container{
  transform:translateY(0px);
  z-index:1000;
  height:100vh;
  opacity:1;
  position:fixed;
  @media #{$break-sm} {
    height: auto;
  }
}

.mobile-nav-toggle-wrap .icon:before,
.mobile-nav-toggle-wrap .icon:after {
  width: 20px;
  height: 4px;
  background-color: $black;
  content: "";
  border-radius: 10px;
  position: absolute;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transiting-timing-function: swing;
}

.nav-open {
  .mobile-nav-toggle-wrap .icon:before{
    background-color: #fff;
  }
  .mobile-nav-toggle-wrap .icon:after {
    background-color: #fff;
    width: 20px;
  }
}

.mobile-nav-toggle-wrap .icon:before {
  top: -7px;
}

.mobile-nav-toggle-wrap .icon:after {
  top: 7px;
  width: 14px;
  left: 6px;
}

.scrollindicator {
  width: 90px;
  height:90px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  margin-left: -45px;
  z-index: 50;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  content: '';
  z-index:1000;
}

.icon-close {
  position:absolute;
  width:20px;
  height:auto;
  right: 20px;
  top: 81px;
  cursor:pointer;
  z-index:1000;
}

.icon-scroll {
  width: 25px;
  height: 50px;
  margin-left: -10px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}


.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: icon-scroll;
}

@keyframes icon-scroll {
  0% { opacity: 1; }
  100% { opacity: 0; transform: translateY(30px); }
}
