.content-wrap{
  padding:5vw;
  @media #{$break-sm-xs} {
    padding:0;
  }
}

.workit{
  height:auto;
  background: #fff;
  @media #{$break-sm-xs} {
    background: #101920;
  }
  .header{
    background:#101920;
    h2{
      margin-bottom:0;
    }
  }
  .workit-content{
    background:url(../img/illustrations/space-fade.png);
    background-position: top center;
    background-size:cover;
    display:flex;
    height:100vh;
    align-items: center;
    @media #{$break-sm-xs} {
      flex-direction:column;
      height:auto;
    }
    .cta-card {
      background: #fff;
      width: 30vw;
      padding: 4vw;
      margin: 10vw;
      box-shadow:0 0 33px 0 rgba(0, 0, 0, 0.16);
      z-index:75;

      @media #{$break-md} {
        width: 40vw;
        margin: 5vw;
      }
      @media #{$break-sm-xs} {
        width:100vw;
        margin:0;
        padding:8vw;
        padding-bottom:14vw;
        box-shadow:none;
        border-bottom:1px solid #DDDDDD;
      }
      h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 30px;
        @media #{$break-md}{
          font-size: 24px;
        }
      }
      p{
        margin-bottom:20px;
      }
    }
  }
  .spaceplane-wrap {
    position: absolute;
    width:100vw;
    height:100vh;
    z-index:50;
    @media #{$break-sm-xs} {
      position:relative;
      height:auto;
      margin-bottom:13vw;
    }
    .spaceplane-illustration{
      margin: 0 auto;
      position: relative;
      display: block;
      width: 30vw;
      height: auto;
      max-width: 400px;
    }
  }
}

#ourwork {
  .carousel-inner {
    min-height: 20vw;
    .item {
      transition: all .3s ease-in-out;
    }
  }
  .app-bullets {
    list-style-type: none !important;
    min-height: 10vw;
    text-align:center;
    padding-left: 0;
    @media #{$break-sm-xs} {
      margin-bottom:20px;
    }
    .app-bullet {
      position: relative;
      z-index: 100;
      display: inline-block;
      text-align:center;
      text-transform:uppercase;
      font-size:14px;
      margin: 3vw;
      text-align: center;
      border-bottom: 3px solid transparent;
      cursor:pointer;
      transition: all .3s ease-in-out;
      @media #{$break-sm-xs} {
        padding:7px;
        margin:2px;
        border-radius:10px;
        border-bottom:initial;
        border:2px solid transparent;
      }
      &.active {
        border-bottom: 3px solid;
        @media #{$break-sm-xs} {
          border:2px solid;
        }
      }
    }
  }
  .apps {
    text-align:center;
    padding:20px;
    @media #{$break-sm} {
      padding:0px;
    }
    .app-card {
      background: #fff;
      width: 17vw;
      padding: 3vw 2vw;
      box-shadow:0 0px 13px 0 rgba(0, 0, 0, 0.15);
      z-index:75;
      border-radius: 3px;
      text-align: center;
      flex-direction:wrap;
      @media #{$break-sm} {
        width: 35vw;
        align-items: center;
        padding:2vw;
        box-shadow:none;
        border:1px solid #DDDDDD;
      }
      .app-logo {
        height:5vw;
        width:auto;
        display: block;
        margin: 0 auto;
        margin-top:10px;
        margin-bottom:15px;
        max-width: 100%;
        @media #{$break-sm-xs} {
          height:10vw;
        }
      }
      &:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow:0 10px 40px 0 rgba(0, 0, 0, 0.1);
      }
      &.selectedItem {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow:0 2px 23px 0 rgba(0, 0, 0, 0.1);
        @media #{$break-sm-xs} {
          box-shadow:none;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }
    }
    .gridder-show {
      @media #{$break-sm-xs} {
        margin-top:20px;
      }
    }
    .gridder-expanded-content {
      display:flex;
      align-items: center;
      @media #{$break-sm-xs} {
        display:block;
      }
      .app-info {
        padding-right:30px;
        @media #{$break-sm-xs} {
          padding-right:0px;
        }
      }
      .app-pane {
        width: 50%;
        @media #{$break-sm-xs} {
          width:100%;
          display:block;
        }
      }
      h2 {
        margin-left:0px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 30px;
        @media #{$break-sm-xs} {
          margin-right:0px;
        }
      }
      p {
        margin-bottom:20px;
      }
    }
    .app-thumbnail img{
      width:100%;
      height: auto;
      display:block;
      border-radius:5px;
    }
  }
}
.exhaustwrap {
  position: relative;
  transform: translate(0%, 90%);
  display: block;
  width:50vw;
  margin: 0 auto;
  margin-top:-5vw;
  @media #{$break-sm-xs} {
    width:100vw;
    margin-top:-11vw;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .exhaust {
    width: 50%;
    height: auto;
    animation: burn 4s ease-in-out infinite;
    position: absolute;
    @media #{$break-sm-xs} {
      animation:none;
    }
    &.one {
    left: 0;
      &.late {
        animation: burn 4s ease-in-out infinite;
        animation-delay: -2s;
        @media #{$break-sm-xs} {
          animation:none;
        }
      }
    }
    &.two {
      right: 0;
      &.late {
        animation: burn 4s ease-in-out infinite;
        animation-delay: -2s;
        @media #{$break-sm-xs} {
          animation:none;
        }
      }
    }
  }
}

.stayupdated {
  background: $dark-yellow;
  .container {
    max-width:800px;
    display: flex;
    align-items: center;
    color: #fff;
    p {
      margin-bottom: 20px;
    }
    >*{
      width: 50%;
    }
    .astro-flag img {
      width:200px;
      height: auto;
      float: right;
      margin-right:30px;
      @media #{$break-sm-xs} {
        padding: 4vw;
        margin-right:0px;
      }
    }
  }
}

.partners {
  text-align: center;
  background: #fff;
  .container {
    max-width: initial;
  }
  .partner-logos {
    margin-top:75px;
    overflow-x:scroll;
    display:inline-block;
    @media #{$break-sm-xs} {
      margin-top:40px;
      display:flex;
    }
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      width: 150px;
      height: auto;
      margin: 3vw;
      transition: all .3s ease-in-out;
      @media #{$break-sm-xs} {
        width: auto;
        margin: 15px;
        height: 60px;
      }
      &:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
      }
    }
  }
  .header-icon {
    width: 150px;
    height: auto;
    display:block;
    margin:0 auto;
  }
}

.workwithus {
  background: #101920;
  .maincta {
    text-align: center;
    width: 40vw;
    padding: 5vw;
    color: #fff;
    position: relative;
    z-index: 5;
    margin: 0 auto;
    p {
      margin-bottom: 30px;
    }
    @media #{$break-sm} {
       width: initial;
    }
    img {
      width: 30%;
      height: auto;
      margin-bottom: 20px;
    }
  }
}

.ourstuff {
  background: #fff;
  padding: 10vw;
  h2 {
    z-index: 100;
    position: relative;
  }
  .starfield {
    @media #{$break-sm-xs} {
      display:none;
    }
  }
}

/*
  Bootstrap Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
