.teachers {
  #mainwrapper {
    .section-title {
      font-size:36px;
      letter-spacing: 6px;
      text-transform: uppercase;
      padding:5vw;
      background:url(/assets/img/illustrations/cloud-white.png) no-repeat;
      background-size:300px 100px;
      background-position: center;
      margin-top:0px;
    }
  }
  .intro-section {
    background: $pink;
  }
  .fellowships-content {
    background:#fff;
    padding:5vw;
    .gridder-list {
      width:31%;
      box-shadow: 0 2px 12px 0 rgba(0,0,0,0.14);
      text-align:left;
      @media #{$break-gridder} {
        width:47%
      }
      @media #{$break-sm} {
        width:98%
      }
      &:hover {
        background: $black;
      }
      &.selectedItem {
        background: $black;
      }
      .game-thumbnail {
        height:200px;
        @media #{$break-sm} {
          height:275px;
        }
      }
      .card-summary {
        display: flex;
        align-items: center;
        min-height:200px;
        h3 {
          line-height:30px;
          letter-spacing:3px;
        }
        h4 {
          color:$mid_gray;
          letter-spacing:2px;
          text-transform: uppercase;
        }
      }
      .card-triangle {
        border-top: 15px solid $black;
      }
    }
    .gridder-expanded-content {
      margin:0 auto;
      width:98%;
      margin-top:2vw;
      margin-bottom:5vw;
      .wrapper {
        display:flex;
      }
      .fellows-list, .fellowship-summary {
        margin-top:20px;
        padding:2vw;
        .fellows {
          font-family: 'Courier', 'courier-new', serif;
          column-count: 2;
          a {
            display:block;
            color:#EE8F8F;
          }
        }
      }
      h4 {
        text-transform: uppercase;
        letter-spacing:3px;
        margin-bottom:30px;
      }
      .groupshot {
        width:100%;
        height:auto;
        border-radius:5px;
        margin-top:10px;
      }
      h3 {
        font-size:40px;
      }
      .game-expanded {
        padding-left:0px;
        margin-top:20px;
      }
      .expanded-thumb {
        border-radius: 5px;
        width:100%;
        margin-top:25px;
      }
      span {
        font-family: brandon-grotesque, futura-pt, sans-serif;
        display:block;
        margin-right:30px;
        color:$mid_gray;
        text-transform: uppercase;
        letter-spacing: 3px;
        a {
          color: #EE8F8F;
          letter-spacing: 3px;
        }
      }
    }
    .gridder-navigation {
      border-top:none;
      border-bottom:none;
      margin-left: 1vw;
      width: 98%;
      .nav-left a {
        border-left:none;
        border-right:none;
      }
    }
  }
  .page-facts {
    background:$pink;
    .info {
      padding: 6vw;
    }
    .fact {
      background:none;
      .photo {
        padding:5vw;
        display:flex;
        position:relative;
        justify-content:center;
        img {
          width:15vw;
          height:auto;
        }
        .astro-book {
          animation: float 6s ease-in-out infinite;
          height:15vw;
          margin-top:4vw;
          @media #{$break-sm} {
            height:23vw;
            width:33vw;
            margin-top:15vw;
          }
        }
        .astro-confused {
          animation: float 7s ease-in-out infinite;
          height:24vw;
          @media #{$break-sm} {
            height:47vw;
            width:30vw;
          }
        }
        .astro-flight {
          height:27vw;
          width:10vw;
          z-index:100;
          @media #{$break-sm} {
            height:45vw;
            width:16vw;
          }
        }
        .astro-flame {
          height:15vw;
          width:8vw;
          position:absolute;
          animation: burn 1.5s ease-in-out infinite;
          z-index:10;
          top:25vw;
          @media #{$break-sm} {
            top:35vw;
            height:20vw;
            width:10vw;
          }
        }
        .astro-flame2 {
          height:15vw;
          width:8vw;
          position:absolute;
          z-index:10;
          top:25vw;
          animation: burn 1.5s ease-in-out infinite;
          animation-delay: -.5s;
          @media #{$break-sm} {
            top:35vw;
            height:20vw;
            width:10vw;
          }
        }
        .flight-lines {
          width:5vw;
          height:20vw;
          transform:translateX(-3vw);
          @media #{$break-sm} {
            height:30vw;
            width:7.5vw;
            margin-top:8vw;
          }
          &.two {
            transform:translateX(3vw);
          }
        }
      }
    }
  }
  .page_hero {
    background: $black;
    padding: 5vw 0vw;
    @media #{$break-sm} {
      flex-direction: column-reverse;
      height: auto;
      padding: 2vw;
    }
    .info {
      color: #fff;
      width: 40%;
      padding: 8vw 0vw 8vw 8vw;
      margin-right:10%;
      p {
        margin-bottom:20px;
      }
      @media #{$break-sm} {
        width:100%;
      }
      h1{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 50px;
        @media #{$break-sm} {
          font-size:40px;
        }
      }
    }
    .graphic {
      width: 50%;
      margin-top: 5vw;
      @media #{$break-sm} {
        height: 40vw;
        width:100%;
        margin-top:20vw;
      }
      .teachernaut{
        width: 10vw;
        margin-right:6vw;
        @media #{$break-sm} {
          width:30vw;
          margin-left:2vw;
        }
      }
      .kidstronaut{
        position:relative;
        z-index:200;
        width: 7vw;
        margin-right:-1vw;
        @media #{$break-sm} {
          width: 16vw;
          margin-left:3vw;
        }
        &.two {
          margin-top:-20vw;
          margin-left:2vw;
          width: 10vw;
          @media #{$break-sm} {
            width: 14vw;
          }
        }
        &.three{
          margin-bottom:-10vw;
          width: 9vw;
          @media #{$break-sm} {
            width: 13vw;
          }
        }
      }
      .cloud {
        width: 300px;
        height: auto;
        position: absolute;
        top: 10vw;
        right:25vw;
        z-index:101;
        animation: float-horiz 10s ease-in-out infinite;
        opacity:1;
          @media #{$break-md} {
            width:150px;
            right:-15vw;
            opacity:.5;
          }
        &.two{
          top:initial;
          bottom:50px;
          right:12vw;
          width:300px;
          z-index:99;
          animation: float-horiz 6s 6s ease-in-out infinite;
          @media #{$break-md} {
            width:150px;
            top:60vw;
            right:6vw;
            opacity:.5;
          }
        }
      }
    }
  }
}
