body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 29px;
  letter-spacing:1px;
  margin-bottom:20px;
}
h1, h2, h3, h4 {
  font-family: brandon-grotesque, futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  letter-spacing:3px;
}

h2 {
  letter-spacing: 1px;
  margin: 25px;
  font-size: 20px;
  line-height: 35px;
}

h3 {
  letter-spacing: .5px;
  margin: 25px;
  font-size: 22px;
  margin-left: 0px;
}

a {
  color: $yellow;
  &:hover {
    text-decoration:none;
    color: $dark-yellow;
  }
}

.nocap {
  text-transform:none !important;
}

.cap {
  text-transform:uppercase !important;
}

p, a, li{
  letter-spacing: 0px;
  line-height: 35px;
  font-weight: 400;
  .bold {
    font-weight:600;
  }
  @media #{$break-sm} {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
  }
  &.big {
    font-size: 20px;
    @media #{$break-md} {
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 35px;
    }
    @media #{$break-sm} {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
  &.small {
    font-size: 16px;
    line-height: 29px;
    letter-spacing:1px;
    margin-bottom:20px;
    a {
      font-size: 16px;
      line-height: 29px;
      letter-spacing:1px;
      margin-bottom:20px;
    }
    @media #{$break-md} {
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 25px;
    }
  }
  &.note {
    font-style:italic;
    color:$gray;
    line-height: 28px;
  }
  &.supersmall {
    font-size: 14px;
    line-height: 25px;
    letter-spacing:1.5px;
    @media #{$break-md} {
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
  &.light {
    font-weight: 300;
    @media #{$break-sm} {
      font-weight: 400;
    }
  }
}

p, li {
  font-family: 'courier', sans-serif;
  font-weight:200;
  letter-spacing:.5px;
}

p {
  a {
    border-bottom:2px solid;
  }
}

.typewriter {
  font-family: 'Courier', 'courier-new', serif;
}

.bright {
  color:#fff;
}
.breath {
  margin:15vw;
  display:block;
  text-align: center;
}

.centered {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
