.workwithus {
  .page_hero {
    background:url('/assets/img/hero-images/field-day.jpeg');
    background-size:cover;
    background-position:right;
    height:90vh;
    .info {
      width: 50%;
      padding: 8vw 0vw 8vw 8vw;
      color:#fff;
      @media #{$break-sm} {
        width:initial;
        margin-bottom:-50vw;
      }
      h1{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 50px;
        @media #{$break-sm} {
          font-size:40px;
        }
      }
    }
    .graphic {
      width: 50%;
      .cloud {
        width: 350px;
        height: auto;
        position: absolute;
        top: 12vw;
        right:5vw;
        opacity:0.7;
        z-index:101;
        animation: float-horiz 10s ease-in-out infinite;
        &.two{
          top:28vw;
          right:20vw;
          width:300px;
          opacity:1;
          z-index:99;
          animation: float-horiz 6s 6s ease-in-out infinite;

        }
      }
      .spaceplane-illustration {
        margin:0 auto;
        height: 70vh;
        display: block;
        margin-top: 10vw;
        margin-bottom: 4vw;
        position:relative;
        z-index:100;
      }
      .exhaustwrap{
        position:absolute;
        bottom:10vw;
        right:0;
        z-index:102;
        @media #{$break-sm-xs} {
          bottom:10vw;
          right:0;
        }
        @media #{$break-xs} {
          right: -75%;
          width: 115vw;
          bottom: 16vw;

        }

      }
    }
  }
  .carousel {
    height:100vh;
    @media #{$break-sm} {
      height:auto;
    }
    .slide-wrap {
      top:5vw;
      height: 5vh;
      background:none;
      @media #{$break-sm} {
        display:none;
      }
    }
    .carousel-inner{
      height: 100vh;
      @media #{$break-sm} {
        overflow:visible;
        height:auto;
      }
      .item{
        height: 100vh;
        display:flex;
        align-items:center;
        overflow:hidden;
        align-items:center;
        z-index:10;
        @media #{$break-sm} {
          overflow:visible;
          height:auto;
          opacity:1;
          flex-direction:column-reverse;
        }
        &.active{
          position:absolute;
          top:0;
          left:0;
          z-index:11;
          @media #{$break-sm} {
            position:relative;
          }
        }
        .info{
          width:50%;
          padding:8vw;
          margin-top:40px;
          position:relative;
          &.color-switch{
            @media #{$break-sm} {
              background: #fff;
              h3, p{
                color: $black;
              }
              .button {
                color:$black;
                border:2px solid $black;
              }
            }

          }
          @media #{$break-sm} {
            width:100%;
            margin-top: 20px;
          }
          span{
            color:#fff;
            font-family: 'Merriweather', serif;
            font-weight:400;
            font-style:italic;
            margin-bottom:-10px;
          }
          h3,p{
            color:#fff;
            z-index:103;
            position:relative;
          }
          h3{
            text-transform:uppercase;
            font-size:30px;
            margin-top:10px;
          }
          p{
            margin-bottom:20px;
          }
        }
        .graphic{
          width:50%;
          position:relative;
          display:flex;
          @media #{$break-sm} {
            height:300px;
            margin-top:40px;
          }
          &.fixed{
            margin:0;
            margin-bottom: auto;
            height:100vh;
            justify-content: flex-end;
            @media #{$break-sm} {
              height:auto;
            }
          }
          .slideimg{
            margin: 0 auto;
            height: 70vh;
            display: block;
            margin-top: 10vw;
            margin-bottom: 4vw;
            position: relative;
            z-index: 100;
            @media #{$break-sm} {
              height:100%;
              width:auto;
              margin-top:0;
              margin-bottom:0;
              margin: 0 auto;
            }
            &.fixed{
              align-self: flex-end;
              margin:0;
              float:right;
              height:initial;
              width:100%;

            }
          }
          .exhaustwrap{
            position:absolute;
            bottom:10vw;
            right:0;
            z-index:102;
            @media #{$break-sm} {
              right: -25vw;
              width: 100vw;
              bottom:5vw;
            }
            .exhaust{
              width:50%;
            }
          }
          .astronaut {
            width: 8vw;
            height: auto;
            position: absolute;
            @media #{$break-sm} {
              width: 20vw;
              z-index: 100;
            }
            @media #{$break-sm-xs} {
              width: 15vw;
            }
            &.one {
              left: 10%;
              top: 35%;
              @media #{$break-sm} {
                left: -25%;
              }
            }
            &.two {
              right: 15%;
              top: 25%;
              @media #{$break-sm} {
                right: -25%;
                top:-8%;
              }
            }
          }
        }
      }
      .item:nth-child(1) {
        background: #92cdf0; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #528bb2 0%, #92cdf0 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #528bb2 0%,#92cdf0 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #528bb2 0%,#92cdf0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92cdf0', endColorstr='#528bb2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
      .item:nth-child(2) {
        background: #8d90bf; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #6D72B5 0%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #6D72B5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #6D72B5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6D72B5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
      .item:nth-child(3) {
        background: #8d90bf; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #022431 0%, #340523 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #022431 0%,#340523 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #022431 0%,#340523 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022431', endColorstr='#340523',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
      .item:nth-child(4) {
        background: #8d90bf; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #122D3D 0%, #183E4C 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #122D3D 0%,#183E4C 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #122D3D 0%,#183E4C 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122D3D', endColorstr='#183E4C',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
    }
  }
}
