/* Layout
------------------------------------------ */

.section {
  text-align: center;
  padding: 100px 10vw;
  max-width: 1200px;
  margin: 0 auto;
}

.section-logo {
  width: 70px;
}

@media (max-width: 800px) {
  .section {
    padding: 50px;
  }
}

.game-image img {
  width: 100%;
}
.games {
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 0;
}
@media (min-width: 801px) {
  .game-half {
    float: left;
    width: 50%;
  }
  .game-left {
    border-right: 1px solid #ccc;
  }
}
@media (max-width: 800px) {
  .game {
    width: 100%;
  }
}
.game-desc {
  text-align: center;
  padding: 30px;
}
.game-desc p {
  margin: 50px 30px;
}

.play-button {
  color: white;
  background-color: rgb(61,183,221);
  padding: 10px 30px;
  font-size: 25px;
  letter-spacing: 5px;
  border-radius: 999px;
  box-shadow: 0px 5px rgb(50,135,165);
}

.raw-link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 801px) {
  .narrow-para {
    padding-left: 200px;
    padding-right: 200px;
  }
}

#about-wrapper {
  background-color: rgb(246,246,243);
}

#about {
  margin: 0 auto;
  max-width: 1400px;
  padding: 80px;
}

#about h2 {
  margin: 25px 25px 25px 0px;
}

@media (max-width: 800px) {
  #about {
    padding: 30px;
  }
}

@media (min-width: 801px) {
  #about-picture img {
    width: 300px;
    margin: 40px;
    float: right;
  }
}
@media (max-width: 800px) {
  #about-picture {
    width: 100%;
    text-align: center;
  }
  #about-picture img {
    max-width: 100%;
    max-height: 300px;
  }
}

#about-text p {
  margin-top: 40px;
}

.learn-more {
  background-color: rgb(79,79,79);
  color: white;
  padding: 10px 40px;
  border-radius: 999px;
}

#footer {
  background-color: rgb(50,50,50);
  color: white;
  margin: 0;
  padding: 30px;
  text-align: center;
  font-size: 12px;
}

#footer img {
  width: 100px;
}

#footer2 {
  background-color: rgb(35,35,35);
  color: white;
  margin: 0;
  padding: 30px;
  text-align: center;
  font-size: 12px;
}

#footer2 img {
  height: 40px;
}

#footer2 a {
  margin: 10px;
}

