/* Dashboard */
#dashboard {
    line-height: 1.5;
    .container-fluid {
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 4rem;
    }
    .card-img-top {
        height: 70%;
        object-fit: cover;
        // medium
        @media (max-width: 767.98px) {
            height: 50%;
        }
        // x-small
        @media (max-width: 575.98px) {
            height: 30%;
        }
    }
    .card:hover {
        transform: scale(1.05);
    }
    .top-buffer{
        margin-top: 26px;
    }
}
