/* Hero class */
.hero {
    background-image: url("../images/hero-artwork.png"), url("../images/grid-top.jpg"), url("../images/grid-bottom.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right, top, bottom; 
    background-size: auto 90%, auto 380px, auto 380px;
    background-blend-mode: normal, lighten, lighten;
    min-height: 70vh;
    line-height: 1.5;
    p {
        font-family: var(--bs-font-monospace);
        &.lead {
            font-size: 1.5rem;
        }
    }
    .btn {
        --bs-btn-padding-x: 1.5rem;
    }
    @media (max-width: 575.98px) {
        background-position: top, top, bottom;
        p.lead {
            font-size: 1.25rem;
        }
    }
    @media (max-width: 991.98px) {
        background-size: 100vw, auto 380px, auto 380px;
    }
}

/* Hero class for about page */
.hero-about {
    background-image: linear-gradient(to right, var(--bs-dark) 50%, transparent), url("../images/about-page-hero.png"), url("../images/grid-top.jpg"), url("../images/grid-bottom.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left, right, top, bottom; 
    background-size: 80% 100%, auto 90%, auto 380px, auto 380px;
    background-blend-mode: normal, normal, lighten, lighten;
    min-height: 70vh;
    line-height: 1.5;
    p {
        font-family: var(--bs-font-monospace);
        &.lead {
            font-size: 1.5rem;
        }
    }
    @media (max-width: 575.98px) {
        background-position: left, top, top, bottom;
        background-size: 0, 100vw, auto 380px, auto 380px;
        p.lead {
            font-size: 1.25rem;
        }
    }
}

/* Hero class for Get Involved page */
.hero-involved {
    background-image: linear-gradient(to right, var(--bs-dark) 50%, transparent), url("../images/hero-get-involved.png"), url("../images/grid-top.jpg"), url("../images/grid-bottom.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left, right, top, bottom; 
    background-size: 80% 100%, auto 100%, auto 380px, auto 380px;
    background-blend-mode: normal, normal, lighten, lighten;
    min-height: 70vh;
    line-height: 1.5;
    @media (max-width: 575.98px) {
        background-position: left, top, top, bottom;
        background-size: 0, 100vw, auto 380px, auto 380px;
        p.lead {
            font-size: 1.25rem;
        }
    }
}
