/* Global styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

header {
    width: 100%;
    background-color: white;
    padding: .75rem 1rem;
    &.shadow {
        z-index: 100;
    }
    .logo {
        max-width: 367px;
        width: 100%;
    }
}

/* Buttons */
.btn i.bi::before {
    font-weight: 700 !important; // bold any button icons
}

img.rounded {
    border-radius: .625rem !important;
}

img.avatar {
    width: 33px;
}
