/* Global styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

header {
    width: 100%;
    background-color: white;
    padding: .75rem 1rem;
    &.shadow {
        z-index: 100;
    }
    .logo {
        width: 366px;
    }
}

footer {
    padding: 5rem 6vw;
    width: 100%;
    color: white;
    .logo {
        width: 171px;
    }
}

/* Hero class */
.hero {
    background-image: url("/assets/images/hero-artwork.png"), url("/assets/images/grid-top.jpg"), url("/assets/images/grid-bottom.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right, top, bottom; 
    background-size: auto 90%, auto 380px, auto 380px;
    background-blend-mode: normal, lighten, lighten;
    min-height: 70vh;
    p {
        font-family: var(--bs-font-monospace);
        &.lead {
            font-size: 1.5rem;
        }
    }
    .btn {
        --bs-btn-padding-x: 1.5rem;
    }
    @media (max-width: 575.98px) {
        background-position: top, top, bottom;
        p.lead {
            font-size: 1.25rem;
        }
    }
    @media (max-width: 991.98px) {
        background-size: 100vw, auto 380px, auto 380px;
    }
}

/* Buttons */
.btn i.bi::before {
    font-weight: 700 !important; // bold any button icons
}

img.rounded {
    border-radius: .625rem !important;
}

img.avatar {
    width: 33px;
}

/* Game Data page */
#gamedata {
    &.container-fluid {
        padding-left: 6vw;
        padding-right: 6vw;
        padding-top: 5rem;
    }
    .button-bar {
        .btn {
            border-width: 0;
            &:not(:last-of-type) {
                border-right-color: var(--bs-gray-300);
                border-radius: 0;
                border-width: 0 2px;
            }
        }
    }
    .stats {
        padding: 1.5rem 4rem 1.5rem 1.5rem;
    }
    #pipelines {
        .pipeline-row:not(:first-of-type) {
            margin-top: -26px;
        }
        .btn {
            height:160px;
            width: 90px;
            border: none;
            background-color: transparent;
            &:hover, &:focus {
                transform: scale(1.05);
            }
        }
        .btn-pipeline-1 {
            background-image: url("/assets/images/pipeline-raw.svg"), url("/assets/images/pipeline-transform.png");
            background-repeat: no-repeat, no-repeat;
            background-position: top, bottom;
            &:active {
                background-image: url("/assets/images/pipeline-raw-primary.svg"), url("/assets/images/pipeline-transform.png");
            }
            z-index: 10;
        }
        .btn-pipeline-2 {
            background-image: url("/assets/images/pipeline-event.svg"), url("/assets/images/pipeline-transform.png");
            background-repeat: no-repeat, no-repeat;
            background-position: top, bottom;
            &:active {
                background-image: url("/assets/images/pipeline-event-primary.svg"), url("/assets/images/pipeline-transform.png");
            }
            z-index: 7;
        }
        .btn-pipeline-3 {
            background-image: url("/assets/images/pipeline-feature.svg");
            background-repeat: no-repeat;
            background-position: top;
            &:active {
                background-image: url("/assets/images/pipeline-event-primary.svg");
            }
            z-index: 4;
        }        
        .pipeline-text {
            width: calc(100% - 100px);
        }
    }
}
.pipeline-pop {
    position: absolute;
    top: 20px;
    right: 20px;        
}

/* Dashboard */
#dashboard {
    .container-fluid {
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 4rem;
    }
    .card-img-top {
        height: 50%;
        object-fit: cover;
        width: auto;
        @media (max-width: 575.98px) {
            height: 70%;
        }
    }
    .card:hover {
        transform: scale(1.05);
    }
}
