@import url(https://use.typekit.net/sdy5fqe.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Crete+Round:400,400i|Roboto:300,400);

.App {
  // text-align: center;
  overflow: scroll;
  height: 100vh;
}

.App::-webkit-scrollbar {
  display: none;
}

